body {
    background: black;
}
main {
    padding-top: 5em;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
button {
    position: absolute;
    bottom: -2em;
    right: 54em;
    margin-top: 2em;
}