body {
    height: 800px;
    background: black;

}
main {
    padding: 10em;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
canvas {
    
}
button {
    position: absolute;
    bottom: 1em;
}